.btn-trans {
    background:none;
    box-shadow:none;
}

.btn-trans-default {
    border: 2px solid #999999;
    color:#999999;
}
.btn-trans-primary {
    border: 2px solid #0044CC;
    color:#0044CC;
}
.btn-trans-success {
    border: 2px solid #f9ff3a;
    color: #f9ff3a;
}

.btn-trans-info {
    border: 2px solid #0088CC;
    color:#0088CC;
}
.btn-trans-warning {
    border: 2px solid #F89406;
    color:#F89406;
}
.btn-trans-danger {
    border: 2px solid #BD362F;
    color:#BD362F;
}
.btn-trans-success:active:focus {
    color: #ffffff;
    background-color: #f9ff3a;
    border-color: #000000;
}
.btn-trans-success:hover {
    box-shadow: none;
    background-color: #f9ff3a;
}